<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Google</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body style="display:flex; flex-direction:row; justify-content:center; align-items:flex-start; margin-top: 10px">
    <div style="display:flex; flex-direction:column; justify-content:center; align-items:center; min-width:75%">
        <img src="../static/pic.png" style="max-height:100px; min-width:500px; margin-top:-30px">
        <form id="form" action="/query" style="display:flex; flex-direction:column; justify-content:center; align-items:flex-start">
            <div>
                <label for="query">Search:</label>
                <input type="text" name="query" id="query" style="width: 500px">
            </div>
            <div style="">
              <label for="k">Number of results:</label>
              <input value="10" type="text" name="k" id="k" style="width:50px">
            </div>
            <input type="submit">
        </form>
        <h1 style="margin-top: 50px;">Results</h1>
        <ul>
        {% for x in data %}
            <li>{{x.name}} {{x.value}}</li>
        {% endfor %}
</ul>
<!--        <table id="table">-->
<!--            <tr>-->
<!--                <th>a</th>-->
<!--                <th>b</th>-->
<!--                <th>c</th>-->
<!--            </tr>-->
<!--        </table>-->
    </div>

<script>

<!--        window.onload = function(data){-->
<!--            console.log(data)-->
<!--        }-->

<!--       window.addEventListener("load",function() {-->
<!--            document.getElementById('form').addEventListener("submit",function(e) {-->
<!--                e.preventDefault(); // before the code-->
<!--                alert('hi');-->
<!--            });-->
<!--       });-->


</script>
</body>


<style>
    html, body {
    height: 90%;
}
    table, th, td {
  border: 1px solid black;
}
table {
    width: 100%;
}
</style>

</html>
